.amount_wrap {
  @media only screen and (max-width: 768px) {
    width: 80%;
  }

  display: block;
  width: 100%;
  background-color: #e0fffc;
  border-radius: 50px;

  .raised_amount {
    color: black;
    position: relative;
    padding: 0.3rem;
  }

  .raised_amount::before {
    content: "";
    background: linear-gradient(270deg, #34f2c6 2.2%, #1ecef7 100%);
    border-radius: 100px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }

  .raised_amount.w0::before {
    width: 0;
  }

  .raised_amount.w10::before {
    width: 10%;
  }

  .raised_amount.w20::before {
    width: 20%;
  }

  .raised_amount.w30::before {
    width: 30%;
  }

  .raised_amount.w40::before {
    width: 40%;
  }

  .raised_amount.w50::before {
    width: 50%;
  }

  .raised_amount.w60::before {
    width: 60%;
  }

  .raised_amount.w70::before {
    width: 70%;
  }

  .raised_amount.w80::before {
    width: 80%;
  }

  .raised_amount.w90::before {
    width: 90%;
  }

  .raised_amount.w100::before {
    width: 100%;
  }
}

.CoverImageOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.25);
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 15px 15px 0 0;
}

@media only screen and (max-width: 768px) {
  .CoverImageOverlay {
    display: none;
  }
}

.detail_content {
  display: block;

  // padding: 0 10rem;
  .about {
    font-size: 1.8em;
    margin-top: 1.2em;
    display: inline-block;
    border-bottom: 12px solid #FAC898;
    line-height: 5px;
    padding-right: .5em;
  }

  p {
    margin: 1em 0;
    font-size: 14px;
  }

  @media only screen and (max-width: 768px) {
    display: block;

    // padding: 0 0rem;
    .about {
      font-size: 16px;
    }

    p,
    img {
      font-size: 13px;
      width: 100%;
      margin: 20px 0px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .detail_content+.detail_content {
    border-top: 1px solid #e5e5e5;
  }
}

.properties {
  display: none;

  .col {
    padding: 0 !important;
  }

  @media only screen and (max-width: 768px) {
    display: flex;
    justify-content: space-between;

    .left {
      font-weight: 700;
      font-size: 20px;
      line-height: 26px;
    }

    .right {
      // width: 50%;
      display: flex;
      align-items: center;

      span {
        // font-weight: bold;
        padding-left: 10px;
      }
    }
  }
}

.content_title {
  span {
    font-weight: 700;
    font-size: 22px;
    line-height: 28.5px;
  }
}

.btn_participation {
  display: none;

  @media only screen and (max-width: 768px) {
    display: inherit;
    text-align: center;

    // padding-right: 10px;
    // border-bottom: 1px solid #e5e5e5;
    button {
      background: #fe6d12;
      color: rgb(255, 255, 255);
      border-radius: 0.2rem;
      border: none;
      width: 100%;
      padding: 10px 0px;

      // max-width: 150px;
      // margin: 0 auto;
    }
  }
}

.projectDetails {
  .participate {
    padding: 0 1em;
  }

  @media only screen and (max-width: 768px) {
    .share img {
      padding-top: 0;
    }
  }

  .project_details_card {
    display: flex;
    flex-direction: column;

    .img_wrap {
      position: relative;
      margin: -1rem;


      @media only screen and (max-width: 768px) {
        margin: 0;
        margin-bottom: 1rem;
      }

      margin-bottom: 6rem;

      .content_wrap {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        display: flex;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;

        .project_title {
          font-size: 64px;
          font-weight: bold;
          color: white;
          margin-bottom: 1.3rem;
        }

        .money {
          display: flex;
          justify-content: center;
          margin-bottom: 1.3rem;
          align-items: center;

          span {
            color: white;
            padding-left: 1rem;
          }

          img {
            width: 30px;
          }
        }

        button {
          font-size: 1.5rem;
          border-radius: 2em;
        }

        @media only screen and (max-width: 768px) {

          .project_title,
          .money,
          button {
            display: none;
          }
        }
      }
    }

    .img_wrap>img {
      width: 100%;
      height: 100%;
      height: 500px;
      object-fit: cover;
      filter: blur(.8em);

      @media only screen and (max-width: 768px) {
        border-radius: 0;
        height: 220px;
        filter: none;
      }
    }

    .participate {
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;


        .content_head {
          font-weight: 700;
          font-size: 26px;
          line-height: 30.5px;
        }

        .content_details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          gap: 20px;

          .categories_wrapper {
            .inputDesktop {
              display: none;
              border-radius: 100px;
              font-family: "Raleway", sans-serif;
              padding: 0.8rem 0;
              border: 1px solid #adadad;
            }

            .inputMobile {
              border-radius: 100px;
              font-family: "Raleway", sans-serif;
              padding: 0.8rem 0;
              border: 1px solid #adadad;
              width: 100%;
              text-align: center;
            }

            .bottom {
              display: flex;
              justify-content: space-between;
              padding: 0.8rem 0;
            }

            .copy_btn {
              border-radius: 100px;
              font-family: "Raleway", sans-serif;
              background-color: #fff;
              font-weight: 400;
              font-size: 1rem;
              line-height: 25px;
              border: 1px solid rgb(36, 34, 34);
              padding: 0.3rem 2.4rem;
            }

            .category_box {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;

              .left {
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                width: 50%;
              }

              .right {
                // display: flex;

                span {
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 24px;
                  padding-left: 10px;
                }

                .rightspan {
                  display: inline;
                }

              }

              @media only screen and (max-width: 768px) {
                display: none;
              }
            }

            .category_box+.category_box {
              padding-top: 1rem;
            }
          }
        }
      }

      .btn {
        display: flex;
        position: absolute;
        float: right;
        right: 4em;
        background: none !important;
        border: none !important;

        :focus {
          box-shadow: none !important;
        }

        & button {
          cursor: pointer;
        }

        img {
          width: 2em;
          float: right;
          padding-top: 3em;

          @media only screen and (max-width: 768px) {
            padding-top: 0;
          }
        }
      }
    }

    .target_amount {
      display: none;


      .copy_wrapper {
        display: flex;
        flex-direction: column;
        padding: 4rem 1rem;
        gap: 10px;
      }

      button {
        margin: 0 auto;
        display: block;
        font-size: 1.3em;
        border-radius: 2em;
      }
    }

    .details {

      img {
        width: 50%;
        height: 100%;
        border-radius: 20px;

        @media only screen and (max-width: 768px) {
          width: 100%;
        }
      }


      @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 1rem 1rem;
      }

      border-bottom: 1px solid #eeeeee;
      width: 1280px;
      margin: auto;
      padding-bottom: 10em;

      .main_head {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: #454545;
        // font-size: 30px;
      }

      .text {
        font-weight: 400;
        font-size: 1em;
        line-height: 1.2em;
        color: #454545;
        overflow-wrap: anywhere;
      }

      .secondary_head {
        font-weight: 700;
        font-size: 20px;
        line-height: 23.5px;
        color: #454545;
      }
    }

    section.organizer_wrapper {
      &_mobile {
        display: none;
      }

      padding: 1.5rem;
      border-top: 2px solid #e5e5e5;

      .organizer_name {
        font-weight: 700;
        font-size: 1.5rem;
        padding-bottom: 1rem;
      }

      .organizer_profile {
        display: flex;
        align-items: center;

        .organizer_profile_img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;

          img {
            max-width: 100%;
            object-fit: cover;
          }
        }

        .organizer_profile_name {
          font-weight: 500;
          padding: 1rem;
          font-size: 1.5rem;
        }
      }

      .organizer_address {
        display: flex;
        align-items: center;

        &_icon {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 80px;
          height: 80px;
        }

        &_wrap {
          display: flex;
          flex-wrap: wrap;
        }

        &_text {
          padding: 1rem;
          font-weight: 500;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .MobileDisplayNone{
    display: none;
  }
}

.participate_btn_collect {
  background: #fe6d12;
  color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  border: none;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.3em 1.5em;
}

.share_btn_collect {
  background: #FFFFFF;
  color: #454545;
  border-radius: 0.2rem;
  font-family: inherit;
  // font-size: 1em;
  font-weight: 400;
  width: 100%;
  padding: 0.3em 1.5em;
  border: 1px solid #454545;
}

@media only screen and (min-width: 768px) {
  .projectDetails {
    .project_details_card {
      margin: 1rem 0 2rem 0;
      // padding: 1rem;
      // filter: drop-shadow(0px 15px 10px rgba(#b3b1b1, 35%));
      background-color: #fff;
      border-radius: 0.8rem;

      .participate {
        .content {
          flex-direction: row;
          align-items: center;

          .content_head {
            display: none;
          }

          .content_details {
            .categories_wrapper {
              display: flex;

              .inputDesktop {
                display: flex;
                width: 50%;
                text-align: center;
              }

              .inputMobile {
                display: none;
              }

              .bottom {
                display: flex;
                justify-content: space-between;
                padding: 0 1rem;
              }

              .share {
                padding-left: 20px;
              }

              .category_box {
                width: unset;

                .left {
                  width: unset;
                  min-width: fit-content;
                  font-size: 1rem;
                  margin-right: 1rem;
                }
              }

              .category_box+.category_box {
                padding-top: 0;
                padding-left: 1rem;
              }
            }
          }
        }
      }


      .target_amount {
        display: flex;

        // margin-bottom: 40rem;
        z-index: 2;

        position: absolute;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        top: 18%;

        width: 60%;
        min-width: 1024px;
        height: 500px;

        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
        background-color: rgb(255, 255, 255);
        border-radius: 3px;

        .project_title_inbox {
          position: absolute;
          padding-top:2%;
          width: 100%;
          text-align: center;
          font-family: 'Roboto';
        }

        .main_detail {

          position: absolute;
          left: 5%;
          top: 17%;

          height: 70%;
          width: 90%;

          .collect_info {
            padding: 2rem 0rem 2rem 2rem;

            .money_raised {
              display: flex;
              font-size: 14px;
              margin-left: 15px;
            }

            .collected_properties{
              margin: 1.5rem 0rem;
              display: flex;
              .contributed_info {
                display: flex;
              }
              .remained_info {
                display: flex;
              }
            }

            .participate_btn_collect {
              background: #fe6d12;
              color: rgb(255, 255, 255);
              border-radius: 0.2rem;
              border: none;
              width: 100%;
              margin-top: 0.5rem;
              padding: 0.3em 1.5em;
            }

            .share_btn_collect {
              background: #FFFFFF;
              color: #454545;
              border-radius: 0.2rem;
              font-family: inherit;
              // font-size: 1em;
              font-weight: 400;
              width: 100%;
              padding: 0.3em 1.5em;
              border: 1px solid #454545;
            }
          }

          .center_cropped {
            object-fit: cover;
            object-position: center;
            max-height: 350px;
          }

        }


        .organizer {
          position: absolute;
          left: 5%;
          bottom: 5%;
          width: 90%;
          text-align: left;
        }

        // .target_desktop {
        //   display: flex;
        //   flex-direction: column;
        //   gap: 20px;
        //   padding: 0 1rem;

        //   .amount_title {
        //     display: flex;

        //     .left {
        //       font-weight: 700;
        //       font-size: 22px;
        //       line-height: 28.5px;
        //     }

        //     .right {
        //       padding-left: 0.5em;
        //       font-size: 1em;
        //       line-height: 2em;
        //       font-weight: 400;
        //       color: #adadad;
        //     }
        //   }

        //   .money {
        //     display: flex;
        //     align-items: center;
        //     gap: 10px;

        //     span {
        //       font-weight: 500;
        //       font-size: 28px;
        //       line-height: 32px;
        //     }
        //   }
        // }

        // .copy_wrapper {
        //   display: flex;
        //   flex-direction: row;
        //   padding: 1.4rem 1rem;

        //   .bottom {
        //     display: flex;
        //   }
        // }
      }

      //select nth child of type img
      .details img:nth-of-type(1) {
        display: block;
        object-fit: fill;
      }

      // section.organizer_wrapper {
      //   display: none;

      //   &_mobile {
      //     display: block;
      //     padding: 2rem 0;
      //     justify-content: right;

      //     .label {
      //       font-weight: 700;
      //       margin-right: 1rem;
      //     }

      //     .category {
      //       display: flex;
      //       justify-content: flex-start;

      //       .left {
      //         font-weight: 700;
      //         font-size: 1em;
      //       }

      //       .right {
      //         font-weight: 400;
      //         font-size: 1em;
      //         padding: 0 30px 0 10px;
      //       }
      //     }
      //   }
      // }
    }
  }
}

.raised_left {
  margin-left: 1em;
}

.raised_right {
  float: right;
  margin-right: 1em;
}

// .share {
//   position: absolute;
//   float: right;
//   right: 1.5em;
//   cursor: pointer;

//   & span {
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 19px;
//     padding-right: 5px;
//     display: none;

//     @media only screen and (max-width: 768px) {
//       display: inherit;

//       button {
//         display: flex;
//         background: #FFFFFF;
//         // filter: drop-shadow(0px 15px 20px rgba(75, 75, 75, 0.302));
//         // border: 1;
//         color: rgb(0, 0, 0);
//         border-radius: 0.2rem;
//         // Added:
//         font-family: inherit;
//         font-size: 1.2em;
//         font-weight: 400;
//         // min-width: 120px;
//         padding: 0.3em 1.5em;
//       }
//     }
//   }

//   img {
//     width: 2em;
//     float: right;
//     padding-top: 3em;
//   }

//   button {
//     display: flex;

//   }
// }

.sharebtn {

  display: none;

  @media only screen and (max-width: 768px) {
    display: block;
    background: #FFFFFF;
    // filter: drop-shadow(0px 15px 20px rgba(75, 75, 75, 0.302));
    // border: 1;
    color: rgb(0, 0, 0);
    border-radius: 0.2rem;
    // Added:
    font-family: inherit;
    font-size: 1em;
    font-weight: 400;
    // min-width: 120px;
    padding: 0.3em 1.5em;

  }

}

.commentsContainer {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #eee;
}

.commentsContainer:last-child {
  border-bottom: none;
  padding: 1em 0;
  margin-bottom: 1em;
}

.commentsName {
  font-weight: 800;
}

.commentsPrice {
  font-size: 0.8rem;
  color: #adadad;
}

.commentsDatas {
  margin-bottom: 0.5em;
  line-height: 1em;
}

img.iconComment {
  width: 40px !important;
  height: 40px !important;
  margin: auto;
}

.verified_img {
  position: absolute;
  top: 1em;
  right: 1em;
  width: 2em;
}

.verified_img_title {
  position: relative;
  top: -2px;
  width: 0.8em;
  margin-left: 0.4em;
}

.tab-pane .active .show {
  box-shadow: 2px 2px 10px 0px #eee;
}

table.trx-table {
  width: 100%
}