.social_share {
  padding: 2em;
}

.social_share div {
  margin: 0.5em 0;
}

.copy_button {
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  background-color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 25px;
  border: 1px solid #242222;
  padding: 0.3rem 2.4rem;
  height: 100%;
  width: 100%;
}

.url_input {
  border: 1px solid #e5e5e5;
  padding: 1em;
  border-radius: 8px;
  width: 100%;
  font-size: 1em;
}

@media only screen and (max-width: 768px) {
  .social_share {
    padding: 1em;
  }
  .social_share div {
    margin: 0.5em 0.2em;
  }
}
