.projectCard {
  padding: 12px 20px;
  cursor: pointer;
  &_wrap {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    filter: drop-shadow(0px 0px 15px rgba(75, 75, 75, 0.2));
  }
  &_img {
    width: 100%;
  }

  &_body_wrap {
    padding-top: .5em;
    border-bottom: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    border-left: 1px solid #d3d3d3;
    border-radius: 0 0 5px 5px;
  }
  &_textWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;
    padding-bottom: .2em;
    padding-right: 1em;
    padding-left: 1em;
  }
  .projectCard_text_additional {
    padding: 0 12px;
  }

  &_title {
    font-size: 1.2em;
    font-weight: 700;
    color: #454545;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
  }
  &_info {
    color: #454545;
    font-size: .9em;
    font-weight: 400;
    line-height: 1em;
    margin: 0;
    text-align: left;
  }

  &_additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
    padding-left: 1em;
    margin: 1em 0;
    &_heart,
    &_person,
    &_money {

    }
    &_heart span,
    &_person span,
    &_money span {
      color: #454545;
      font-weight: 400;
      font-size: .9em;
    }
  }

  &_barWrap {
    padding: 0;
  }
  &_barContainer {
    border-radius: none;
    filter: drop-shadow(0px 2px px rgba(75, 75, 75, 0.302));
  }
  &_bar {
    border-radius: none;
    background-color: #eae5e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 4px;
    &::before {
      content: "";
      background-color: red;
      background: linear-gradient(270deg, #fe6d12 2.2%, #ED8A2E 100%);
      border-radius: none;
      position: absolute;
      width: 60%;
      left: 0;
      height: 100%;
    }
  }
  .projectCard_bar.w0::before {
    width: 0;
  }
  .projectCard_bar.w10::before {
    width: 10%;
  }
  .projectCard_bar.w20::before {
    width: 20%;
  }
  .projectCard_bar.w30::before {
    width: 30%;
  }
  .projectCard_bar.w40::before {
    width: 40%;
  }
  .projectCard_bar.w50::before {
    width: 50%;
  }
  .projectCard_bar.w60::before {
    width: 60%;
  }
  .projectCard_bar.w70::before {
    width: 70%;
  }
  .projectCard_bar.w80::before {
    width: 80%;
  }
  .projectCard_bar.w90::before {
    width: 90%;
  }
  .projectCard_bar.w100::before {
    width: 100%;
  }
  &_current {
    font-size: 12px;
    color: #fff;
    z-index: 2;
    padding-left: 15px;
  }
  &_total {
    font-size: 12px;
    color: #000;
    z-index: 2;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .projectCard {
    max-width: 19rem;
    margin-left: 1.5rem;
    padding: 0 0 2rem 0;
    width: 100%;
    &_img {
      max-height: 10rem;
      object-fit: cover;
    }
  }
}

.carousel_img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.projectCard_current {
  color: #000;
}

.target {
  position: relative;
  top: -1px;
}

.verified_img {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  width: 1.5em;
}
