@import url("https://fonts.googleapis.com/css?family=Raleway:500");

.bim.btn.btn-primary {
  -webkit-appearance: none;  
  background-color: #fe6d12;
  background-size: 500%;
  border: none !important;
  border-radius: 0.2rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;
  font: 1em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 3rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 10rem;
  margin-bottom: 0.5em;
}

.bim:hover.btn.btn-primary:hover {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown-item:hover,
.dropdown-item:hover a,
a.dropdown-item:active,
a.dropdown-item:hover {
  color: #454545;
  text-decoration: none;
  background: #f1f1f1;
}

.dropdown-item a:active,
.dropdown-item a:hover {
  color: #454545;
  text-decoration: none;
}

.hot.btn.btn-primary {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.hot:hover.btn.btn-primary:hover {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
