.landing-window {
  .landing-banner-container {
    background-image: url("../../assets/img/landing/BannerSlider.png") !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    padding-bottom: 15%;
    width: 100%;
  }

  .landing-logo {
    margin-left: 7%;
    padding-top: 10%;

    img {
      width: 140px;
      height: 136px;
      margin-bottom: 5%;
    }

    .landing-logo-text1 {
      width: 40%;
      color: #29b4d5;
      font-size: 3.5em;
      font-family: "Roboto";
      font-weight: 600;
      line-height: 1.2em;
    }

    .landing-logo-text2 {
      width: 40%;
      color: #424d4f;
      font-size: 1.5em;
      font-family: "Roboto";
      margin-top: 10px;
    }
  }

  .landing-work-text1 {
    margin-top: 70px;
    color: black;
    font-size: 65px;
    font-family: "Roboto";
    font-weight: 600;
    text-align: center;
    line-height: 80%;
  }

  .landing-work-text2 {
    color: #707070;
    font-size: 39px;
    font-family: "Roboto";
    text-align: center;
  }

  .landing-how-work-container {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 100%;
    padding: 50% 0;
    width: 90%;
    margin: auto;
    margin-top: 4em;
    background-position-x: center;
  }

  .how-en {
    background-image: url("../../assets/img/landing/howwork1.png") !important;
  }

  .how-fr {
    background-image: url("../../assets/img/landing/How_does_it_work_FR_Desk.png") !important;
  }

  .how-ro {
    background-image: url("../../assets/img/landing/How_does_it_work_RO_Desk.png") !important;
  }

  .landing-create-project {
    margin-top: 60px;
    border: 0px;
    background-color: #179aa8;
    font-size: 2em;
    font-family: "Roboto";
    padding: 0.5em 2em;
    color: white;
    text-align: center;
    border-radius: 100px;
  }

  .landing-create-project-logo {
    padding: 40px 0px;
  }

  .landing-project {
    background-image: url("../../assets/img/landing/create1.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    width: 100%;
    height: auto;

    .landing-project-type {
      width: 400px;
      height: 470px;
      background-color: white;
      border-radius: 25px;
      margin-top: 70px;
      margin-bottom: 70px;
      text-align: center;
      padding: 40px 30px 0px 30px;

      .landing-project-type-header {
        color: #1b829a;
        font-size: 41px;
        font-family: "Roboto";
        font-weight: 600;
      }

      .landing-project-type-text {
        color: #6b6969;
        font-size: 24px;
        font-family: "Roboto";
        font-weight: 600;
        line-height: 100%;
      }

      .landing-project-free-image {
        height: 287px;
        width: 399px;
        margin-left: -30px;
        border-radius: 20px;
        margin-top: 34px;
      }

      .landing-project-simple-image {
        height: 287px;
        width: 399px;
        margin-left: -30px;
        border-radius: 20px;
        margin-top: 10px;
      }

      .landing-project-secure-image {
        height: 263px;
        width: 399px;
        margin-left: -30px;
        border-radius: 20px;
        margin-top: 10px;
      }
    }
  }

  .landing-price {
    .landing-price-text {
      margin-top: 70px;
      margin-bottom: 90px;
      color: black;
      font-size: 65px;
      font-family: "Roboto";
      font-weight: 600;
      text-align: center;
    }

    .landing-price-description {
      width: 360px;
      border-radius: 123px 0px 139px 0px;
      background-color: #f9f9ff;
      box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
      text-align: center;

      svg {
        color: #29dfdf;
        font-size: 80px;
        margin-top: 45px;
      }

      .landing-price-description-header {
        margin-top: 10px;
        padding: 0px 30px;
        color: #29dfdf;
        font-size: 40px;
        font-family: "Roboto";
        font-weight: 600;
        line-height: 100%;
      }

      .landing-price-description-text1 {
        margin-top: 40px;
        color: #4b4a4a;
        font-family: "Roboto";
        font-size: 1.5em;
        line-height: 1em;
        padding: 0 1em 2em 1em;
      }

      .landing-price-description-text2 {
        margin-top: 40px;
        color: #4b4a4a;
        font-family: "Roboto";
        font-size: 1.5em;
        line-height: 1em;
        padding: 0 1em 2em 1em;
      }
    }
  }

  .landing-spend {
    .landing-spend-text {
      margin-top: 100px;
      margin-bottom: 110px;
      color: black;
      font-size: 65px;
      font-family: "Roboto";
      font-weight: 600;
      text-align: center;
    }

    .landing-spend-container {
      width: 350px;
      border-radius: 50px 50px 50px 50px;
      background-color: #cee9ef;
      text-align: center;

      img {
        width: 250px;
        margin-top: 50px;
      }

      .landing-spend-container-text1 {
        padding: 10px 45px 10px 45px;
        color: #282f30;
        font-size: 35px;
        font-family: "Roboto";
        line-height: 100%;
      }

      .landing-spend-container-text2 {
        padding: 0px 20px 0px 20px;
        color: #282f30;
        font-size: 60px;
        font-family: "Roboto";
        font-weight: 700;
        font-style: italic;
      }
      .landing-spend-container-text3-container {
        height: 120px;
        .landing-spend-container-text3 {
          padding: 0px 10px 0px 10px;
          color: #282f30;
          font-size: 20px;
          font-family: "Roboto";
          line-height: 100%;
        }
      }

      .landing-spend-container-next {
        text-align: -webkit-center;
        text-align: -moz-center;
        margin-top: 25px;
        margin-bottom: 10px;
      }
      .landing-spend-container-next-icon {
        color: #0a0b0b;
        font-size: 30px;
        border-radius: 20px;
        border-color: #b9d1d7;
        border-width: 5px;
        border-style: solid;
        padding: 0px 40px;
        background-color: #cee9ef;
      }
      .landing-spend-container-under {
        height: 3px;
        background-color: black;
        width: 150px;
        margin-top: 10px;
      }
    }
  }

  .landing-money-pot {
    margin-top: 80px;
    margin-bottom: 60px;
    padding: 0% 10%;
    color: #7e7e7f;
    text-align: center;
    font-size: 40px;
    font-family: "Roboto";
    line-height: 100%;
  }

  .landong-money-pot-logo {
    text-align: center;
    margin-bottom: 30px;
  }
}

.landing-mobile {
  display: none !important;
  .landing-banner-container {
    background-image: url("../../assets/img/landing/mobile-slider.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    padding-bottom: 55%;
    width: 100%;
  }

  .landing-logo {
    padding: 0% 5% 0 5%;
    text-align: center;
    margin-top: 1em;

    img {
      width: 140px;
      height: 136px;
      margin-bottom: 5%;
    }

    .landing-logo-text1 {
      color: #29b4d5;
      font-size: 25px;
      font-family: "Roboto";
      font-weight: 600;
      line-height: 120%;
    }

    .landing-logo-text2 {
      color: #424d4f;
      font-size: 16px;
      font-family: "Roboto";
      margin-top: 10px;
      line-height: 100%;
    }
  }

  .landing-work-text1 {
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    font-size: 25px;
    font-family: "Roboto";
    font-weight: 600;
    text-align: center;
    line-height: 100%;
  }

  .landing-work-text2 {
    color: #707070;
    font-size: 16px;
    font-family: "Roboto";
    text-align: center;
    margin-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 100%;
  }

  .landing-how-work-container {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 100% 0;
    margin: auto;
  }

  .how-mobile-en {
    background-image: url("../../assets/img/landing/mobile-howwork.png") !important;
  }

  .how-mobile-fr {
    background-image: url("../../assets/img/landing/How_does_it_work_FR_Mobile.png") !important;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 95%;
  }

  .how-mobile-ro {
    background-image: url("../../assets/img/landing/How_does_it_work_RO_Mobile.png") !important;
  }

  .landing-create-project {
    border: 0px;
    background-color: #179aa8;
    font-size: 20px;
    font-family: "Roboto";
    padding: 10px 50px;
    color: white;
    text-align: center;
    border-radius: 100px;
  }

  .landing-create-project-logo {
    padding: 20px 0px;
    width: 50px;
  }

  .landing-project {
    background-image: url("../../assets/img/landing/mobilecreate.png") !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 100%;
    width: 100%;
    height: auto;
    padding: 50px 0px;
    text-align: -webkit-center;
    text-align: -moz-center;

    .landing-project-type {
      width: 300px;
      background-color: white;
      border-radius: 15px;
      text-align: center;
      padding: 30px 10px 0px 10px;

      .landing-project-type-header {
        color: #1b829a;
        font-size: 21px;
        font-family: "Roboto";
        font-weight: 600;
      }

      .landing-project-type-text {
        color: #6b6969;
        font-size: 14px;
        font-family: "Roboto";
        font-weight: 600;
        line-height: 100%;
      }

      .landing-project-free-image {
        height: 240px;
        width: 300px;
        margin-left: -10px;
        border-radius: 15px;
        margin-top: 34px;
      }

      .landing-project-simple-image {
        height: 240px;
        width: 300px;
        margin-left: -10px;
        border-radius: 15px;
        margin-top: 10px;
      }

      .landing-project-secure-image {
        height: 240px;
        width: 300px;
        margin-left: -10px;
        border-radius: 15px;
        margin-top: 10px;
      }
    }
  }

  .landing-price {
    .landing-price-text {
      margin-top: 40px;
      margin-bottom: 40px;
      color: black;
      font-size: 28px;
      font-family: "Roboto";
      font-weight: 600;
      text-align: center;
    }

    .landing-price-description-container {
      text-align: -webkit-center;
      text-align: -moz-center;
    }

    .landing-price-description {
      width: 75%;
      border-radius: 63px 0px 69px 0px;
      background-color: #f9f9ff;
      box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.3);
      text-align: center;

      svg {
        color: #29dfdf;
        font-size: 40px;
        margin-top: 15px;
      }

      .landing-price-description-header {
        margin-top: 10px;
        padding: 0px 5px;
        color: #29dfdf;
        font-size: 25px;
        font-family: "Roboto";
        font-weight: 600;
        line-height: 100%;
      }

      .landing-price-description-text1 {
        margin-top: 40px;
        color: #4b4a4a;
        font-family: "Roboto";
        font-size: 1.5em;
        line-height: 1em;
        padding: 0 1em 2em 1em;
      }

      .landing-price-description-text2 {
        margin-top: 40px;
        color: #4b4a4a;
        font-family: "Roboto";
        font-size: 1.5em;
        line-height: 1em;
        padding: 0 1em 2em 1em;
      }
    }
  }

  .landing-spend {
    text-align: -webkit-center;
    text-align: -moz-center;
    .landing-spend-text {
      margin-top: 50px;
      margin-bottom: 50px;
      color: black;
      font-size: 28px;
      font-family: "Roboto";
      font-weight: 600;
      text-align: center;
      line-height: 100%;
    }

    .landing-spend-container {
      width: 300px;
      border-radius: 50px 50px 50px 50px;
      background-color: #cee9ef;
      text-align: center;
      padding-bottom: 5px;

      img {
        width: 200px;
        margin-top: 20px;
      }

      .landing-spend-container-text1 {
        padding: 20px 10px 10px 10px;
        color: #282f30;
        font-size: 25px;
        font-family: "Roboto";
        line-height: 100%;
      }

      .landing-spend-container-text2 {
        padding: 0px 10px 0px 10px;
        color: #282f30;
        font-size: 30px;
        font-family: "Roboto";
        font-weight: 700;
        font-style: italic;
      }
      .landing-spend-container-text3-container {
        height: 70px;
        .landing-spend-container-text3 {
          padding: 0px 5px 0px 5px;
          color: #282f30;
          font-size: 16px;
          font-family: "Roboto";
          line-height: 100%;
        }
      }

      .landing-spend-container-next {
        text-align: -webkit-center;
        text-align: -moz-center;
        margin-top: 25px;
        margin-bottom: 10px;
      }
      .landing-spend-container-next-icon {
        color: #0a0b0b;
        font-size: 30px;
        border-radius: 20px;
        border-color: #b9d1d7;
        border-width: 5px;
        border-style: solid;
        padding: 0px 40px;
        background-color: #cee9ef;
      }
      .landing-spend-container-under {
        height: 3px;
        background-color: black;
        width: 150px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }

  .landing-money-pot {
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 0% 5%;
    color: #7e7e7f;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto";
    line-height: 100%;
  }

  .landong-money-pot-logo {
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .landing-window {
    display: none;
  }

  .landing-mobile {
    display: block !important;
  }
}
