.btn_connect:hover {
  background: linear-gradient(270deg, #34f2c6 2.2%, #1ecef7 100%);
  .flex_div {
    span,
    svg {
      color: white;
    }
  }
}
.btn_connect {
  position: relative;
  padding: 1rem 1.8rem;
  border-radius: 3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 2rem;
  cursor: pointer;
  .flex_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      width: 35px;
    }
    span {
      width: 100%;
      font-size: 1rem;
      padding-left: 1rem;
      font-weight: 600;
      text-align: left;
    }
    svg {
      color: #1ecef7;
    }
  }
}
